@model WebApplication8.Models.nufu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>nufu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nufusSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nufusSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yil)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
